/* Navbar estilização*/

.navbar-brand{
    font-family: 'Patua One', cursive;
    font-size: 32px;
}
.nav-link{
    text-transform: uppercase;
    margin-right: 30px;
}
.nav-link:hover{
    border-bottom: 3px solid #44c4ec;
}
.tombol{
    text-transform: uppercase;
    border-radius: 40px;
}
.conteiner{
    background-color: aliceblue;
}

/*Info Painel*/
.info-panel{
    box-shadow: 0 3px 20px;
    border-radius: 5px;
    margin-top: 30px;
    background-color: white;
    padding: 30px;
}
.info-panel h1{
    font-size: 20px;
    text-transform: uppercase;
    font-weight: bold;
    margin-top: 4px;
    color: #44c4ec;
    font-size: 'Patua One', cursive;
}
.info-panel p{
    font-size: 16px;
    color: #000000;
    font-family: 'Open Sans', sans-serif;
}
/*Sobre nós estilização*/
.abaut h2{
    font-family: 'Patua One', cursive;
    font-size: 36px;
    text-transform: uppercase;
    margin-top: 10px;
    text-align: left;
    color: #44c4ec;
}
.abaut p {
    font-size: 20px;
    color: #000000;
    margin-top: 20px;
    font-family: 'Open Sans', sans-serif;
}
/*nossos pets estilização*/
.pets h2{
    font-family: 'Patua One', cursive;
    font-size: 36px;
    text-transform: uppercase;
    margin-top: 10px;
    text-align: left;
    color: #44c4ec;
}
.pets p{
    font-size: 20px;
    color: #000000;
    text-align: center;
    font-family: 'Opens Sans', sans-serif;
}
.pets .card h5{
    font-size: 20px;
    color: #44c4ec;
    text-align: center;
    font-family: 'Patua One', cursive;
}
.pets .card p{
    font-size: 15px;
    color: #000000;
    text-align: center;
    font-family: 'Opens Sans', sans-serif;
}
.pets .card .btn{
    align-items: center;
    font-size: 15px;
    color: #000000;
    text-align: center;
    font-family: 'Opens Sans', sans-serif;
    background-color: #88d8f3;
}
/*Estilização do blog*/

.blog h2{

    font-family: 'Patua One', cursive;
    font-size: 36px;
    text-transform: uppercase;
    margin-top: 10px;
    text-align: left;
    color: #44c4ec;
}
.blog p{
    font-size: 20px;
    color: #000000;
    text-align: left;
    font-family: 'Opens Sans', sans-serif;
}

/*Estilização de como ajudar*/
.ajudar h2{
    font-family: 'Patua One', cursive;
    font-size: 36px;
    text-transform: uppercase;
    margin-top: 10px;
    text-align: left;
    color: #44c4ec;
}
.ajudar p{
    font-size: 20px;
    color: #000000;
    text-align: center;
    font-family: 'Opens Sans', sans-serif;
}
.ajudar h1{
    font-family: 'Patua One', cursive;
    font-size: 25px;
    text-transform: uppercase;
    margin-top: 10px;
    text-align: center;
    color: #0c5e78;
}
.blog h2{
  font-family: 'Patua One', cursive;
  font-size: 36px;
  text-transform: uppercase;
  margin-top: 10px;
  text-align: left;
  color: #44c4ec;
}
/*Estilização do footer*/
.footer{
  background-color: #88d8f3; 
  left: 0%;
  position:absolute;
}
.footer h1{
  font-size: 30px;
  font-family: 'Patua One', cursive;
  margin-top: 10px;
  margin-left: 20px;
}
.footer .nav{
  font-family: 'Patua One', cursive;
  margin-top: 10px;
  margin-left: 20px;
}
.dev p{
  text-align: center;
  background-color: #88d8f3; 
  padding: 20px;
  font-family: 'Opens Sans', sans-serif;
}


  




